@page "/GoGDL"

<PageTitle>GoGDL</PageTitle>

<style>
    .main-img {
        padding: 3%;
    }    
</style>

<div class="d-flex titulo">
	<img src="images/Logo.webp" alt="logo" width="50" height="50" />
	<h3 class="ms-4">GoGDL</h3>
</div>

<hr/>

<Paragraph Margin="Margin.Is1.FromBottom">GoGDL is a PWA (Progresive web application) made in Angular with as a school project, it is a place where you can find recreation places something like <a href="https://www.yelp.com">Yelp</a>.</Paragraph>

<img class="main-img" src="images/gogdl-landing-page.png" alt="landing-page-image" width="100%"/>

<Paragraph Margin="Margin.Is1.FromBottom">We created this web app because we needed a project to get our technician degrees in school, and we come up with the idea to help small businesses promote their establishments. Unfortunately, we didn't continue with it because my partner and I take different paths in our lives after school.</Paragraph>

<h5>Technologies</h5>
<hr/>
<ListGroup Flush>
    <ListGroupItem>
        <Div Flex="Flex.JustifyContent.Between" Width="Width.Is100">
            <Heading Size="HeadingSize.Is5" Margin="Margin.Is1.FromBottom">Firebase</Heading>           
        </Div>
        <Paragraph Margin="Margin.Is1.FromBottom">We used Firebase for most of the things we did, thing like the hosting of the website, authentication, data storage and Firebase Functions to send notifications to our users.</Paragraph>
    </ListGroupItem>
    <ListGroupItem>
        <Div Flex="Flex.JustifyContent.Between" Width="Width.Is100">
            <Heading Size="HeadingSize.Is5" Margin="Margin.Is1.FromBottom">SendGrid</Heading>            
        </Div>
        <Paragraph Margin="Margin.Is1.FromBottom">We had to use SendGrid to sent emails to our Users.</Paragraph>        
    </ListGroupItem>
    <ListGroupItem>
        <Div Flex="Flex.JustifyContent.Between" Width="Width.Is100">
            <Heading Size="HeadingSize.Is5" Margin="Margin.Is1.FromBottom">Google Cloud</Heading>            
        </Div>
        <Paragraph Margin="Margin.Is1.FromBottom">We used Maps JavaScript API to show the establishments to the users.</Paragraph>        
    </ListGroupItem>
</ListGroup>

<h5>Link</h5>
<hr/>
<a href="https://gogdl.com/about">https://gogdl.com/about</a>
@code {

}
