@page "/BlogPage/{title}/{url}"
@inject HttpClient Http
@inject NavigationManager NavManager

<PageTitle>@Title.Replace('-', ' ')</PageTitle>

@if (Loaded) {
    @Articulo
}
else {
	<div class="spinner-border text-primary" role="status">
	</div>
}

@code {
    [Parameter]
	public string Url { get; set; }
	[Parameter]
    public string Title { get; set; }
	private bool Loaded { get; set; } = false;
	private MarkupString Articulo { get; set; }
	protected override async Task OnInitializedAsync()	
	{
		Loaded = false;
		var file = await Http.GetStreamAsync($"data/posts/{Url}.md");		
		Articulo = (MarkupString)Markdown.ToHtml(Utils.StreamtToString(file) ?? "");
		Loaded = true;
	}
}