@page "/Blog"
@inject HttpClient Http
@inject NavigationManager NavManager

<PageTitle>Blog</PageTitle>

<div class="d-flex titulo">
	<img src="https://img.icons8.com/external-flatart-icons-outline-flatarticons/64/000000/external-blog-digital-marketing-flatart-icons-outline-flatarticons-2.png" alt="projects" width="50" height="50" />
	<h3 class="ms-4">Blog</h3>
</div>

<hr>

@if (Loaded) {
	<ListGroup Flush>
		@foreach (var jToken in Posts)
		{
			var post = (JObject)jToken;
			<ListGroupItem>
				<div class="list-group-item list-group-item-action" style="cursor: pointer;" @onclick="@(() => NavManager.NavigateTo(Utils.GetUrl(((string)post["url"]))))">
					<Div Flex="Flex.JustifyContent.Between" Width="Width.Is100">
						<Heading Size="HeadingSize.Is5" Margin="Margin.Is1.FromBottom">@((string)post["titulo"])</Heading>
						<Small>@((string)post["fecha"])</Small>
					</Div>
					<Paragraph Margin="Margin.Is1.FromBottom">
						@((string)post["descripcion"])
					</Paragraph>			
				</div>		
			</ListGroupItem>
		}	
	</ListGroup>
}
else {
	<div class="spinner-border text-primary" role="status">
	</div>
}

@code {
	private JArray Posts { get; set; } = new JArray();
	private bool Loaded { get; set; }
	protected override async Task OnInitializedAsync()	
	{
		Loaded = false;
		Posts = JArray.Parse(await Http.GetStringAsync("data/posts.json"));
		Loaded = true;
	}
}