@page "/"

<PageTitle>Index</PageTitle>

<center><h1>Efraín Girón Romero</h1></center>

<h3 class="mt-4">Biography</h3>
<p>
    I am a Mexican software developer currently working in Guadalajara, Jalisco.
    Please forget the way I write in English, it's not my native language, but I will get better.
    I am not sure what to put here, so you can check out my social media and ask anything or leave a suggestion.
</p>

<h3 class="mt-4">Contact Info.</h3>
<div class="list-group">  
    <Link To="mailto:a19310354@live.ceti.mx" Target="Target.Blank" Class="list-group-item list-group-item-action">
        Email
    </Link>

    <Link To="https://www.linkedin.com/in/biosh0ked/" Target="Target.Blank" Class="list-group-item list-group-item-action">
        LinkedIn
    </Link>

    <Link To="https://mobile.twitter.com/bioshoked" Target="Target.Blank" Class="list-group-item list-group-item-action">
        Twitter
    </Link>

    <Link To="https://platzi.com/p/biosh0Ed/" Target="Target.Blank" Class="list-group-item list-group-item-action">
        Platzi
    </Link>
</div>

<h3 class="mt-4">Skills</h3>
<ol class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto w-100">
            <div class="fw-bold">Frontend</div>
            <Progress Value="75" Animated Striped />
        </div>
        <span class="badge bg-primary rounded-pill">14</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto w-100">
            <div class="fw-bold">Backend</div>
            <Progress Value="75" Animated Striped />
        </div>
        <span class="badge bg-primary rounded-pill">14</span>
    </li>   
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto w-100">
            <div class="fw-bold">Database Administration</div>
            <Progress Value="75" Animated Striped />
        </div>
        <span class="badge bg-primary rounded-pill">14</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto w-100">
            <div class="fw-bold">Server Administration</div>
            <Progress Value="75" Animated Striped />
        </div>
        <span class="badge bg-primary rounded-pill">14</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto w-100">
            <div class="fw-bold">Embedded Systems</div>
            <Progress Value="75" Animated Striped />
        </div>
        <span class="badge bg-primary rounded-pill">14</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto w-100">
            <div class="fw-bold">Cyber Security</div>
            <Progress Value="75" Animated Striped />
        </div>
        <span class="badge bg-primary rounded-pill">14</span>
    </li>
</ol>
