@page "/Backend"

<PageTitle>Backend</PageTitle>

<div class="d-flex titulo">
	<img src="https://img.icons8.com/external-flaticons-lineal-flat-icons/64/000000/external-backend-computer-programming-flaticons-lineal-flat-icons.png" 
	alt="backend" width="50" height="50" />
	<h3 class="ms-4">What I know about Backend.</h3>
</div>

<hr>

<h4>Languages</h4>

<div class="d-flex titulo">
	<img src="https://img.icons8.com/color/48/000000/c-sharp-logo.png" alt="csharp" width="48" height="48" />
	<h5 class="ms-4">C#</h5>
</div>

<p>I currently use it at my work.</p>

<div class="list-group">
	<Link To="@(Utils.getURL("/Blog"))" Class="list-group-item list-group-item-action">
	My Developer Portfolio
	</Link>
</div>



<div class="d-flex titulo">
	<img src="https://img.icons8.com/fluency/48/000000/node-js.png" width="48" height="48" alt="node" />
	<h5 class="ms-4">NodeJS</h5>
</div>

<h6>Related work</h6>
<div class="list-group">
	<Link To="@(Utils.getURL("/GoGDL"))" Class="list-group-item list-group-item-action">
	GoGDL
    </Link>   
</div>

